{% extends "store/main.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-elemento" id="form-wrapper">
                <form id="form">
                    {% csrf_token %}
                    {% if cartItems > 0 %}
                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input class="form-control" type="text" name="address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                            </div>
                        </div>
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    {% else %}
                        <center>
                        <p>Seu carrinho está vazio.</p>
                        </center>
                    {% endif %}
                </form>
            </div>
            <br>

            <div class="box-elemento hidden" id="payment-info">
                <small>Paypay Options</small>
                <button id="make-payment">Make Payment</button>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-elemento">
                <a  class="btn btn-outline-dark" href="{% url 'cart' %}">← Back to Cart</a>
                <hr>
                <h3>Order Summary</h3>
                <hr>
                {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                        <div style="flex:2"><p>{{item.product.name}}</p></div>
                        <div style="flex:1"><p>${{item.product.price}}</p></div>
                        <div style="flex:1"><p>x{{item.quantity}}</p></div>
                    </div>
                {% endfor %}    
                <h5>Items:   {{order.get_cart_items}}</h5>
                <h5>Total:   ${{order.get_cart_total|floatformat:2}}</h5>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var shipping = "{{order.shipping}}"
        var total = "{{order.get_cart_total}}"
        var user = "{{request.user}}"
        var cartItems = "{{order.get_cart_items}}"
    
        if(shipping == "False"){
            document.getElementById("shipping-info").innerHTML = ""
        }
    
        if (cartItems > 0) {
            document.getElementById("form-button").classList.remove("hidden");
            if (shipping == "False" && user != "AnonymousUser"){
                document.getElementById("form-wrapper").classList.add("hidden");
                document.getElementById("payment-info").classList.remove("hidden");
            }
        } else {
            document.getElementById("form-button").classList.add("hidden");
            document.getElementById("payment-info").classList.add("hidden");
        }
    
        var form = document.getElementById("form")
        csrftoken = form.getElementsByTagName("input")[0].value;
    
        form.addEventListener("submit", function(e){
            e.preventDefault()
            if (cartItems > 0) {
                document.getElementById("form-button").classList.add("hidden");
                document.getElementById("payment-info").classList.remove("hidden");
            }
        })
    
        document.getElementById("make-payment").addEventListener("click", function(e){
            submitFormData()
        })    
    
        function submitFormData(){
            var userFormData = {
                "name":null,
                "email":null,
                "total":total,
            }
        
            var shippingInfo = {
                "address":null,
                "city":null,
                "state":null,
                "zipcode":null,
            }
        
            if (shipping != "False"){
                shippingInfo.address = form.address.value
                shippingInfo.city = form.city.value
                shippingInfo.state = form.state.value
                shippingInfo.zipcode = form.zipcode.value
            }
            if (user == "AnonymousUser"){
                userFormData.name = form.name.value
                userFormData.email = form.email.value
            }
        
            var url = "/process_order/"
            fetch(url,{
                method: "POST",
                headers:{
                    "Content-Type":"application/json",
                    "X-CSRFToken":csrftoken,
                },
                body:JSON.stringify({"form":userFormData,"shipping":shippingInfo}),
            })
            .then((response) => response.json())
            .then((data) => {
                alert("Transaction completed");
    
                cart = {}
                document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"
    
                window.location.href = "{% url "store" %}"
            })
        }
    </script>
    
{% endblock content %}