{% extends "store/main.html" %}
{% block content %}
<style>
    .container-heart input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    .container-heart {
        display: block;
        position: relative;
        cursor: pointer;
        user-select: none;
    }
    
    .container-heart svg {
        position: relative;
        top: 0;
        left: 15px;
        height: 30px;
        width: 30px;
        transition: all 0.3s;
        fill: #666;
    }
    
    .container-heart svg:hover {
        transform: scale(1.1);
    }
    
    .container-heart input:checked~svg {
        fill: #E3474F;
    }

    .button-container1 {
        display: inline-grid;
        grid-template-columns: repeat(6, 1fr);
        margin-left: -2%;
    }
    
    .button-container1 .prod-radio-tile-group {
        max-width: 50px;
    }
    
    h2{
        font-weight: revert;
    }

    h1{
        font-weight: revert;
        color:#4D00E6;
    }

    h6.starting-from {
        text-decoration: line-through;
        font-size: 16px;
    }
    
</style>
<div class="product-detail-container">
    <div class="product-image">
        <img src="{{ product.imageURL }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        {% if product.valor_original %}
            <h6 class="starting-from" >R$ {{ product.valor_original|floatformat:2 }}</h6>
        {% endif %}
        <h2>R$ {{ product.price }}</h2>
        <h6>Vendido e enviado por <span style="color:#4D00E6;">Dazzle</span></h6>
        <h6><span style="font-weight:bold;">Cor: </span>{{product.cor}}</h6>
        <div class="button-container1">
            {% for tamanho, is_available in sizes_available %}
                {% if is_available %}
                    <div class="prod-radio-tile-group">
                        <div class="prod-input-container">
                            <input id="size-{{ tamanho }}" class="prod-radio-button" type="radio" name="size" value="{{ tamanho }}">
                            <div class="prod-radio-tile">
                                <label for="size-{{ tamanho }}" class="prod-radio-tile-label">{{ tamanho }}</label>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <div class="button-container">
            <button id="add-to-cart-button" data-product="{{product.id}}" data-action="add" class="cssbuttons-io update-cart" disabled>Adicionar ao carrinho</button>
            <form method="post" action="{% url 'update_favoritos' %}?next={{ request.path }}" id="favoriteForm">
                {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <label class="container-heart">
                    <input type="checkbox" class="favorite-checkbox" onchange="document.getElementById('favoriteForm').submit();" {% if product.id in favoritos_ids %}checked{% endif %}>
                    <svg id="Layer_1" version="1.0" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M16.4,4C14.6,4,13,4.9,12,6.3C11,4.9,9.4,4,7.6,4C4.5,4,2,6.5,2,9.6C2,14,12,22,12,22s10-8,10-12.4C22,6.5,19.5,4,16.4,4z"></path></svg>
                </label>
            </form>

 
        </div>             
    </div>
</div>
<h4  style="color:#4D00E6; margin-bottom: -6rem; margin-top: 7%; margin-left:0.5%; font-weight:bold;">Veja mais sobre o produto:</h4>
<div class="conteiner">
        <div class="column">
            {% if product.image1 %}
                <div id="retangulo1" style="background-image: url({{ product.image1.url }});" class="retangulo"></div>
            {% endif %}
            {% if product.image2 %}
                <div id="retangulo2" style="background-image: url({{ product.image2.url }});" class="retangulo"></div>
            {% endif %}
        </div>
        <div class="column">
            {% if product.image3 %}
                <div id="retangulo3" style="background-image: url({{ product.image3.url }});" class="retangulo"></div>
            {% endif %}
            {% if product.image4 %}
                <div id="retangulo4" style="background-image: url({{ product.image4.url }});" class="retangulo"></div>
            {% endif %}
        </div>
</div>
<div>
    <div>
        {% if product.descricao %}
        <h4 style="margin-top: 10%; color: black;">Descrição: </h4>
        <h6 style="margin-top:2%;">{{ product.descricao }}</h6>
        {% endif %}
        <h4 style="margin-top: 4%; color: black; margin-bottom: 2%;">Características do produto: </h4>
        <h6><span style="color:black;">Nome:</span> {{ product.name }}</h6>
        <h6><span style="color:black;">Marca:</span> {{ product.marca }}</h6>
        {% if product.genero %}<h6><span style="color:black;">Gênero:</span> {{ product.genero }}</h6>{% endif %}
        {% if product.cor %}<h6><span style="color:black;">Cor:</span> {{ product.cor }}</h6>{% endif %}
        {% if product.departamento_bs %}<h6><span style="color:black;">Departamento bs:</span> {{ product.departamento_bs }}</h6>{% endif %}
        {% if product.indicado_para %}<h6><span style="color:black;">Indicado para:</span> {{ product.indicado_para }}</h6>{% endif %}
        {% if product.material %}<h6><span style="color:black;">Material:</span> {{ product.material }}</h6>{% endif %}
        {% if product.material_interno %}<h6><span style="color:black;">Material Interno:</span> {{ product.material_interno }}</h6>{% endif %}
        {% if procuct.altura_do_cano %}<h6><span style="color:black;">Altura do cano:</span> {{ product.altura_do_cano }}</h6>{% endif %}
        {% if product.solado %}<h6><span style="color:black;">Solado:</span> {{ product.solado }}</h6>{% endif %}
        {% if product.peso %}<h6><span style="color:black;">Peso do produto:</span> {{ product.peso_do_produto }}g</h6>{% endif %}
        
        {% if product.importante %}<h6><span style="color:black;">Importante:</span> {{ product.importante }}</h6>{% endif %}
    </div>
</div>
<script>
    var sizeRadios = document.querySelectorAll('.prod-radio-button');

    var addToCartButton = document.getElementById('add-to-cart-button');
    
    for (var i = 0; i < sizeRadios.length; i++) {
        sizeRadios[i].addEventListener('change', function() {
            addToCartButton.disabled = false;
            addToCartButton.classList.remove('disabled');
            addToCartButton.classList.add('enabled');
        });
    }
    </script>
{% endblock content %}
