{% extends "store/main.html" %}
{% block content %}
<div class="product-detail-container">
    <div class="product-image">
        <img src="{{ product.imageURL }}" alt="{{ product.name }}">
    </div>
    <div class="product-info">
        <h1>{{ product.name }}</h1>
        <h2>R$ {{ product.price }}</h2>
        <hr>
        <div class="button-container">
            {% for tamanho in product.tamanhoproduto_set.all %}
                <div class="prod-radio-tile-group">
                    <div class="prod-input-container">
                        <input id="size-{{ tamanho.id }}" class="prod-radio-button" type="radio" name="size">
                        <div class="prod-radio-tile">
                            <label for="size-{{ tamanho.id }}" class="prod-radio-tile-label">{{ tamanho.tamanho }}</label>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="button-container">
            <button id="add-to-cart-button" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart" disabled>Adicionar ao carrinho</button>
        </div>              
    </div>
</div>
<script>
    var sizeRadios = document.querySelectorAll('.prod-radio-button');

    var addToCartButton = document.getElementById('add-to-cart-button');
    
    for (var i = 0; i < sizeRadios.length; i++) {
        sizeRadios[i].addEventListener('change', function() {
            addToCartButton.disabled = false;
        });
    }
    </script>
{% endblock content %}
