{% extends "store/main.html" %}
{% load static %}
{% block content %}
<div class="top-container">
    <div class="carousel">
        {% for image in carousel_images %}
        <img class="carousel-image" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
        {% endfor %}
    </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
</div>  
    <div class="leaderboard-banner">
        <img src="{% static 'images/new_leaderboard.png' %}" alt="Descrição do banner">
    </div>

    <div class="purple-line">
        <h5>EM PROMOÇÃO:</h5>
    </div>       

    <div class="row">
    {% for product in random_products %}
        <div class="col-lg-3">
            <a href="{% url 'product_detail' product.id %}" style="text-decoration: none; color: inherit;">
                <div class="box-element product">
                    <img class="thumbnail" src="{{product.imageURL}}" alt="">
                    <h6><strong>{{product.name}}</strong></h6>
                    {% if product.valor_original %}
                    <p class="starting-from" style="text-decoration: line-through;">R${{product.valor_original|floatformat:2}}</p>
                    {% else %}
                    <p class="starting-from">A partir de:</p>
                    {% endif %}
                    <h4 class="price" style="display: inline-block; float: right ;"><strong>R${{product.price|floatformat:2}}</strong></h4>
                </div>                
            </a>
        </div>
    {% endfor %}
    </div>
<script>
    var carouselImages = document.querySelectorAll('.carousel-image');
    var currentIndex = 0;

    function updateCarousel() {
        for (var i = 0; i < carouselImages.length; i++) {
            carouselImages[i].style.transform = 'translateX(' + (-100 * currentIndex) + '%)';
        }
    }

    setInterval(function() {
        currentIndex = (currentIndex + 1) % carouselImages.length;
        updateCarousel();
    }, 3000);  // 3 segundos

    document.querySelector('.carousel-control-prev').addEventListener('click', function() {
        currentIndex = (currentIndex - 1 + carouselImages.length) % carouselImages.length;
        updateCarousel();
    });

    document.querySelector('.carousel-control-next').addEventListener('click', function() {
        currentIndex = (currentIndex + 1) % carouselImages.length;
        updateCarousel();
    });
</script>
{% endblock content %}

